@page
@model SafeCon.Areas.Identity.Pages.Transporter.MyVehiclesModel
@{
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Vehicle Name ")
            </th>
            <th>
                @Html.DisplayName("Insurance Policy Number")
            </th>
            <th>
                @Html.DisplayName("Trailer Type")
            </th>
            <th>
                @Html.DisplayName("Vehicle Capacity")
            </th>
            <th>Edit | Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsurancePolicyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrailerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleCapacity)
                </td>
                <td>
                    <a asp-page="./EditVehicle" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./MyVehicles" onclick="return confirm('Are you sure you want to delete this item?');" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>